<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center mb-3">
      
    </div>
    <div *ngIf="showData" class="col-sm-4 text-right mb-3">
      <!--<a (click)="export()" class="btn btn-primary waves-light ml-1 disabled" mdbWavesEffect> <i class="fas fa-download"></i> Exportar</a>-->
    </div>
  </div>
</div>
<div class="container-fluid">

</div>
<div class="container-fluid registro-table">

  <div *ngIf="isLoading" class="text-center">
    <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
  </div>
  
  <h5 *ngIf="showData == false && isLoading == false" class="text-center mt-3 mb-3">No se encontraron datos</h5>

  <table *ngIf="showData && isLoading == false" 
    mat-table
    [dataSource]="dataSource"
    matSort class="mat-elevation-z8"
    (matSortChange)="sortData($event)">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="selectChange($event, row)"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.name)"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.name)"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="amount_soles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Soles </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.name)"> {{element.amount_soles}} </td>
    </ng-container>

    <ng-container matColumnDef="amount_dolares">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dolares </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.name)"> {{element.amount_dolares}} </td>
    </ng-container>

    <ng-container matColumnDef="aux">
      <th mat-header-cell *matHeaderCellDef > </th>
      <td mat-cell *matCellDef="let element" class="operation_icons_2">
        <a (click)="editTrip(element.name)" class="mr-1">Ver Reporte</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
  </table>


  <!--<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item {{disablePrev}}">
        <a class="page-link" (click)="previusPage()" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li *ngFor="let i of paginator" class="page-item {{i.state}}"><a class="page-link" (click)="changePage(i.page)">{{i.page}}</a></li>
      <li class="page-item {{disableNext}}">
        <a class="page-link" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>-->
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
