<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img src="{{baseimg}}assets/images/logo-amex.png" alt="logo.png" width="200px">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">¿Olvidaste tu contraseña? </h3>
                  <h3 class="text-left">No te preocupes.</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Regresar a <a [routerLink]="['/authentication/login']">Login.</a></p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Tu usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                <span class="md-line"></span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button (click)="resetpassword()" type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Enviame una nueva contraseña</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
