<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- starts -->
    <div class="auth-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <div class="login-card card-body auth-body">
            <form class="md-float-material" (submit)="login()">
              <div class="text-center mt-3">
                <img src="{{baseimg}}assets/images/logo-amex.png" alt="logo.png" width="200px">
              </div>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-3">
                    <h3 class="text-center txt-primary">Login</h3>
                  </div>
                  <div class="col-md-9">
                  </div>
                </div>
                <div class="row m-b-20">
                  <div class="col-md-12 text-left">
                      <h6 class="text-secondary">Sistema: </h6>
                  </div>
                  <div class="col-md-12">
                    <select class="form-control" [(ngModel)]="system" [ngModelOptions]="{standalone: true}">
                      <option value="0">Operaciones</option>
                      <option value="1">Administración</option>
                    </select>
                    <span class="md-line"></span>
                  </div>
                </div>
                <div class="input-group">
                  <input autofocus type="email" class="form-control" placeholder="Usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="password" class="form-control" placeholder="contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                  <span class="md-line"></span>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">INGRESAR</button>
                  </div>
                </div>
                <div class="row m-t-25 text-left">
                  <div class="col-sm-5 col-xs-12">
                    <!--<div class="checkbox-fade fade-in-primary">
                      <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                        <span class="text-inverse">Recuerdame</span>
                      </label>
                    </div>-->
                  </div>
                  <div class="col-sm-7 col-xs-12 forgot-phone text-right">
                    <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> ¿Olvidaste tu contraseña?</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng2-toasty [position]="'top-right'"></ng2-toasty>