<div class="container-fluid">
    <div class="row justify-content-center mt-1">
      <div class="col-sm-12 text-right mb-3">
        <div class="row">
          <div class="col-sm-4 text-left">
            <a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
          </div>
          <div class="col-sm-8">
              <a *ngIf="showadd" [routerLink]="['/dinero/add/devoluciones']" class="btn btn-primary mr-1">
                <i class="fas fa-retweet"></i>Devoluciones
              </a>
              <a *ngIf="showadd" [routerLink]="['/dinero/add/transferencias']" class="btn btn-primary mr-1">
                <i class="fas fa-exchange-alt"></i>
                Transferencias
              </a>
              <a *ngIf="showadd" [routerLink]="['/dinero/add/new']" class="btn btn-primary mr-1">Desembolsos</a>
              <a *ngIf="showadd" [routerLink]="['/dinero/add/ingresos']" class="btn btn-primary waves-light">
                Ingresos
              </a>
          </div>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col-sm-7 text-center">
        <form novalidate class="ng-untouched ng-pristine ng-valid" (submit)="filtrar()">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Filtrar</label>
                <div class="col-sm-6">
                    <select class="form-control select-filter" name="select" #filtros (change)="filtrarForm($event, filtros.value)" [(ngModel)]="filterSelect" [ngModelOptions]="{standalone: true}">
                      <option value="0">Seleccione un valor a filtrar</option>
                      <option value="1">Fecha</option>
                      <option value="2">Proveedores</option>
                      <option value="4">Viaje</option>
                    </select>
                    <button type="submit" class="btn btn-primary filtrar">Filtrar</button>
                </div>

                <div class="col-sm-9 mt-3 {{fecha}}">
                  <div class="row">
                    <label class="col-sm-1 col-form-label">Rango</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="fechas()" [(ngModel)]="fechasFilter" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione una fecha</option>
                        <option value="1">Hoy</option>
                        <option value="2">Ayer</option>
                        <option value="3">Última Semana</option>
                        <option value="4">Último Mes</option>
                        <option value="5">Último Año</option>
                      </select>                    
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3 {{fecha}}">
                  <div class="row">
                    <label class="col-sm-1 col-form-label">Inicio</label>
                    <div class="col-sm-5">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}" (dateChanged)="setTimeDisable($event)"></my-date-picker>
                    </div>
                    <label class="col-sm-1 col-form-label">Fin</label>
                    <div class="col-sm-5">
                        <my-date-picker name="mydate" [options]="myDatePickerOptions2" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"></my-date-picker>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3 {{proveedores}}">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Proveedores</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="filtrar()" name="select" [(ngModel)]="proveedoresv" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione un Proveedor</option>
                        <option *ngFor="let x of proveedores_list" value="{{x.id}}">{{x.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3 {{categoria}}">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Categorias</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="filtrar()" name="select" [(ngModel)]="categoriav" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione una Categoria</option>
                        <option *ngFor="let x of categoria_list" value="{{x.id}}">{{x.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3 {{viaje}}">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Viaje</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="filtrar()" name="select" [(ngModel)]="tripv" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione un Viaje</option>
                        <option *ngFor="let x of list_trips" value="{{x.id}}">{{x.code}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3 {{moneda}}">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Moneda</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="filtrar()" name="select" [(ngModel)]="monedav" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione una Moneda</option>
                        <option value="S">Nuevos Soles</option>
                        <option value="D">Dolares</option>
                      </select>
                    </div>
                  </div>
                </div>
  
            </div>
        </form>
      </div>
      <div class="col-sm-5 text-right">
        <a *ngIf="showexport" (click)="export()" class="btn btn-primary waves-light ml-1" mdbWavesEffect> <i class="fas fa-download"></i> {{export_message}}</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  
  </div>
  <div class="container-fluid registro-table">
    <div *ngIf="isExporting" class="exporting">
      <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
    </div>
    <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="current">
      <mat-tab label="Caja Soles ({{countSoles}})">
          <div *ngIf="loadingsoles" class="img-loading text-center">
            <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
          </div>
          <h5 *ngIf="showSoles == false && loadingsoles == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
          <table *ngIf="showSoles" mat-table [dataSource]="dataSource_soles" matSort class="mat-elevation-z8">
  
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle(selection_soles, dataSource_soles) : null"
                              [checked]="selection_soles.hasValue() && isAllSelected(selection_soles, dataSource_soles)"
                              [indeterminate]="selection_soles.hasValue() && !isAllSelected(selection_soles, dataSource_soles)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="selectChange($event, row, selection_soles)"
                              [checked]="selection_soles.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="trip">
              <th mat-header-cell *matHeaderCellDef> Viaje </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.trip}} </td>
            </ng-container>
        
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{ element.date | date: 'dd/LL/yyyy'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="operation_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.operation_type}} </td>
            </ng-container>
        
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Categoria </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.category}} </td>
            </ng-container>
        
            <ng-container matColumnDef="provider">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.provider}} </td>
            </ng-container>
        
            <ng-container matColumnDef="cheque_number">
              <th mat-header-cell *matHeaderCellDef> #Cheque / Recibo </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.cheque_number == '' ? '-' : element.cheque_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="exchange_rate">
              <th mat-header-cell *matHeaderCellDef> Tipo de Cambio </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Tipo de Caja </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseType(element.type)}} </td>
            </ng-container>
        
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseAmount(element.amount)}} </td>
            </ng-container>
        
            <ng-container matColumnDef="aux">
              <th mat-header-cell *matHeaderCellDef > </th>
              <td mat-cell *matCellDef="let element" class="operation_icons">
                <a *ngIf="showview" (click)="viewTrip(element)" class="mr-1"><i class="fas fa-eye"></i></a>
                <a *ngIf="showedit" (click)="editTrip(element)"><i class="far fa-edit"></i></a>
                <a *ngIf="showdelete" (click)="deleteTrip(element, 1)"><i class="far fa-trash-alt"></i></a>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </table>
        
        
          <nav *ngIf="showSoles" aria-label="Page navigation" class="mt-3">
              <ul class="pagination justify-content-center">
                <li class="page-item {{disablePrev_soles}}">
                  <a class="page-link" (click)="previusPage(1)" tabindex="-1">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
          
                <li *ngIf="page_soles - 3 > 0" class="page-item">
                  <a class="page-link" (click)="changePage(1, page_soles-3)">...</a>
                </li>
                <li *ngIf="page_soles - 2 > 0" class="page-item">
                  <a class="page-link" (click)="changePage(1, page_soles-2)">{{page_soles-2}}</a>
                </li>
                <li *ngIf="page_soles - 1 > 0" class="page-item">
                  <a class="page-link" (click)="changePage(1, page_soles-1)">{{page_soles-1}}</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" (click)="changePage(1, page_soles)">{{page_soles}}</a>
                </li>
                <li *ngIf="page_soles + 1 <= totalpages_soles" class="page-item">
                  <a class="page-link" (click)="changePage(1, page_soles+1)">{{page_soles+1}}</a>
                </li>
                <li *ngIf="page_soles + 2 <= totalpages_soles" class="page-item">
                  <a class="page-link" (click)="changePage(1, page_soles+2)">{{page_soles+2}}</a>
                </li>
                <li *ngIf="page_soles + 3 <= totalpages_soles" class="page-item">
                  <a class="page-link" (click)="changePage(1, page_soles+3)">...</a>
                </li>
                <li class="page-item {{disableNext_soles}}">
                  <a class="page-link" (click)="nextPage(1)">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
      </mat-tab>
  
      <mat-tab label="Caja Dólares ({{countDolares}})">
          <div *ngIf="loadingdolares" class="img-loading text-center">
            <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
          </div>
          <h5 *ngIf="showDolares == false && loadingdolares == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
          <table *ngIf="showDolares" mat-table [dataSource]="dataSource_dolares" matSort class="mat-elevation-z8">
  
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle(selection_dolares, dataSource_dolares) : null"
                                [checked]="selection_dolares.hasValue() && isAllSelected(selection_dolares, dataSource_dolares)"
                                [indeterminate]="selection_dolares.hasValue() && !isAllSelected(selection_dolares, dataSource_dolares)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="selectChange($event, row, selection_dolares)"
                                [checked]="selection_dolares.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="trip">
                <th mat-header-cell *matHeaderCellDef> Viaje </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.trip}} </td>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{ element.date | date: 'dd/LL/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="operation_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.operation_type}} </td>
              </ng-container>
          
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.category}} </td>
              </ng-container>
          
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.provider}} </td>
              </ng-container>
          
              <ng-container matColumnDef="cheque_number">
                <th mat-header-cell *matHeaderCellDef> #Cheque / Recibo </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.cheque_number == '' ? '-' : element.cheque_number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="exchange_rate">
                <th mat-header-cell *matHeaderCellDef> Tipo de Cambio </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
              </ng-container>
          
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo de Caja </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseType(element.type)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseAmount(element.amount)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="aux">
                <th mat-header-cell *matHeaderCellDef > </th>
                <td mat-cell *matCellDef="let element" class="operation_icons">
                  <a *ngIf="showview" (click)="viewTrip(element)" class="mr-1"><i class="fas fa-eye"></i></a>
                  <a *ngIf="showedit" (click)="editTrip(element)"><i class="far fa-edit"></i></a>
                  <a *ngIf="showdelete" (click)="deleteTrip(element, 2)"><i class="far fa-trash-alt"></i></a>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </table>
          
          
            <nav *ngIf="showDolares" aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                  <li class="page-item {{disablePrev_dolares}}">
                    <a class="page-link" (click)="previusPage(2)" tabindex="-1">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
            
                  <li *ngIf="page_dolares - 3 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(2, page_dolares-3)">...</a>
                  </li>
                  <li *ngIf="page_dolares - 2 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(2, page_dolares-2)">{{page_dolares-2}}</a>
                  </li>
                  <li *ngIf="page_dolares - 1 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(2, page_dolares-1)">{{page_dolares-1}}</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" (click)="changePage(2, page_dolares)">{{page_dolares}}</a>
                  </li>
                  <li *ngIf="page_dolares + 1 <= totalpages_dolares" class="page-item">
                    <a class="page-link" (click)="changePage(2, page_dolares+1)">{{page_dolares+1}}</a>
                  </li>
                  <li *ngIf="page_dolares + 2 <= totalpages_dolares" class="page-item">
                    <a class="page-link" (click)="changePage(2, page_dolares+2)">{{page_dolares+2}}</a>
                  </li>
                  <li *ngIf="page_dolares + 3 <= totalpages_dolares" class="page-item">
                    <a class="page-link" (click)="changePage(2, page_dolares+3)">...</a>
                  </li>
                  <li class="page-item {{disableNext_dolares}}">
                    <a class="page-link" (click)="nextPage(2)">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
      </mat-tab>
  
      <mat-tab label="Banco MN Cta Corriente ({{countBcoSoles}})">
          <div *ngIf="loadingbcosoles" class="img-loading text-center">
            <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
          </div>
          <h5 *ngIf="showBancoSoles == false && loadingbcosoles == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
          <table *ngIf="showBancoSoles" mat-table [dataSource]="dataSource_bco_soles" matSort class="mat-elevation-z8">
  
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle(selection_bco_soles, dataSource_bco_soles) : null"
                                [checked]="selection_bco_soles.hasValue() && isAllSelected(selection_bco_soles, dataSource_bco_soles)"
                                [indeterminate]="selection_bco_soles.hasValue() && !isAllSelected(selection_bco_soles, dataSource_bco_soles)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="selectChange($event, row, selection_bco_soles)"
                                [checked]="selection_bco_soles.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="trip">
                <th mat-header-cell *matHeaderCellDef> Viaje </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.trip}} </td>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{ element.date | date: 'dd/LL/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="operation_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.operation_type}} </td>
              </ng-container>
          
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.category}} </td>
              </ng-container>
          
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.provider}} </td>
              </ng-container>
          
              <ng-container matColumnDef="cheque_number">
                <th mat-header-cell *matHeaderCellDef> #Cheque / Trans </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.cheque_number == '' ? '-' : element.cheque_number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="exchange_rate">
                <th mat-header-cell *matHeaderCellDef> Tipo de Cambio </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
              </ng-container>
          
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo de Caja </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseType(element.type)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseAmount(element.amount)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="aux">
                <th mat-header-cell *matHeaderCellDef > </th>
                <td mat-cell *matCellDef="let element" class="operation_icons">
                  <a *ngIf="showview" (click)="viewTrip(element)" class="mr-1"><i class="fas fa-eye"></i></a>
                  <a *ngIf="showedit" (click)="editTrip(element)"><i class="far fa-edit"></i></a>
                  <a *ngIf="showdelete" (click)="deleteTrip(element, 3)"><i class="far fa-trash-alt"></i></a>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </table>   
            
  
              <nav *ngIf="showBancoSoles" aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                  <li class="page-item {{disablePrev_bco_soles}}">
                    <a class="page-link" (click)="previusPage(3)" tabindex="-1">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
            
                  <li *ngIf="page_bco_soles - 3 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(3, page_bco_soles-3)">...</a>
                  </li>
                  <li *ngIf="page_bco_soles - 2 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(3, page_bco_soles-2)">{{page_bco_soles-2}}</a>
                  </li>
                  <li *ngIf="page_bco_soles - 1 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(3, page_bco_soles-1)">{{page_bco_soles-1}}</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" (click)="changePage(3, page_bco_soles)">{{page_bco_soles}}</a>
                  </li>
                  <li *ngIf="page_bco_soles + 1 <= totalpages_bco_soles" class="page-item">
                    <a class="page-link" (click)="changePage(3, page_bco_soles+1)">{{page_bco_soles+1}}</a>
                  </li>
                  <li *ngIf="page_bco_soles + 2 <= totalpages_bco_soles" class="page-item">
                    <a class="page-link" (click)="changePage(3, page_bco_soles+2)">{{page_bco_soles+2}}</a>
                  </li>
                  <li *ngIf="page_bco_soles + 3 <= totalpages_bco_soles" class="page-item">
                    <a class="page-link" (click)="changePage(3, page_bco_soles+3)">...</a>
                  </li>
                  <li class="page-item {{disableNext_bco_soles}}">
                    <a class="page-link" (click)="nextPage(3)">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
      </mat-tab>
      
      <mat-tab label="Banco ME Cta Corriente ({{countBcoDolares}})">
          <div *ngIf="loadingbcodolares" class="img-loading text-center">
            <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
          </div>
          <h5 *ngIf="showBancoDolares == false && loadingbcodolares == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
          <table *ngIf="showBancoDolares" mat-table [dataSource]="dataSource_bco_dolares" matSort class="mat-elevation-z8">
  
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle(selection_bco_dolares, dataSource_bco_dolares) : null"
                                [checked]="selection_bco_dolares.hasValue() && isAllSelected(selection_bco_dolares, dataSource_bco_dolares)"
                                [indeterminate]="selection_bco_dolares.hasValue() && !isAllSelected(selection_bco_dolares, dataSource_bco_soles)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="selectChange($event, row, selection_bco_dolares)"
                                [checked]="selection_bco_dolares.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="trip">
                <th mat-header-cell *matHeaderCellDef> Viaje </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.trip}} </td>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{ element.date | date: 'dd/LL/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="operation_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.operation_type}} </td>
              </ng-container>
          
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.category}} </td>
              </ng-container>
          
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.provider}} </td>
              </ng-container>
          
              <ng-container matColumnDef="cheque_number">
                <th mat-header-cell *matHeaderCellDef> #Cheque / Trans </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.cheque_number == '' ? '-' : element.cheque_number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="exchange_rate">
                <th mat-header-cell *matHeaderCellDef> Tipo de Cambio </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
              </ng-container>
          
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo de Caja </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseType(element.type)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element" (click)="editTrip(element)"> {{parseAmount(element.amount)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="aux">
                <th mat-header-cell *matHeaderCellDef > </th>
                <td mat-cell *matCellDef="let element" class="operation_icons">
                  <a *ngIf="showview" (click)="viewTrip(element)" class="mr-1"><i class="fas fa-eye"></i></a>
                  <a *ngIf="showedit" (click)="editTrip(element)"><i class="far fa-edit"></i></a>
                  <a *ngIf="showdelete" (click)="deleteTrip(element, 4)"><i class="far fa-trash-alt"></i></a>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </table>
          
          
            <nav *ngIf="showBancoDolares" aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                  <li class="page-item {{disablePrev_bco_dolares}}">
                    <a class="page-link" (click)="previusPage(4)" tabindex="-1">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
            
                  <li *ngIf="page_bco_dolares - 3 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares-3)">...</a>
                  </li>
                  <li *ngIf="page_bco_dolares - 2 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares-2)">{{page_bco_dolares-2}}</a>
                  </li>
                  <li *ngIf="page_bco_dolares - 1 > 0" class="page-item">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares-1)">{{page_bco_dolares-1}}</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares)">{{page_bco_dolares}}</a>
                  </li>
                  <li *ngIf="page_bco_dolares + 1 <= totalpages_bco_dolares" class="page-item">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares+1)">{{page_bco_dolares+1}}</a>
                  </li>
                  <li *ngIf="page_bco_dolares + 2 <= totalpages_bco_dolares" class="page-item">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares+2)">{{page_bco_dolares+2}}</a>
                  </li>
                  <li *ngIf="page_bco_dolares + 3 <= totalpages_bco_dolares" class="page-item">
                    <a class="page-link" (click)="changePage(4, page_bco_dolares+3)">...</a>
                  </li>
                  <li class="page-item {{disableNext_bco_dolares}}">
                    <a class="page-link" (click)="nextPage(4)">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
      </mat-tab>
    </mat-tab-group>
  </div>
  
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
  