.form-check-input {
	width: 20px;
	height: 20px;
	background: white;
	margin-left: 0;
}
.radio input {
  margin-right: 10px;
}

.select-debe{
  width: auto;
}

.btn {
  color: #ffffff !important;
}

.cancel {
  background: #3F729B;
}

.document-form {
  border: 3px dotted #6a8894;
  margin-bottom: 1rem;
  padding: 15px;
}

.currency-input {
  padding-left: 50px;
}

.currency { 
  position: absolute;
  min-width: 43px;
  left: 15px;
  top: 0;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  color: #495057 !important;
  cursor: pointer;
}