<div class="row">
  <form class="col-sm-12" (submit)="generar()">
    <div class="row">
      <div class="col-sm-8 mt-3">
        <div class="row">
          <label class="col-sm-1 col-form-label">Desde</label>
          <div class="col-sm-5">
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}" (dateChanged)="setTimeDisable($event)"></my-date-picker>
          </div>
          <label class="col-sm-1 col-form-label">Hasta</label>
          <div class="col-sm-5">
            <my-date-picker name="mydate" [options]="myDatePickerOptions2" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"></my-date-picker>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-3">
        <button type="submit" class="btn btn-primary generar">Generar</button>
        <a (click)="export()" class="btn btn-primary ml-1 {{activeExport}}" > <i class="fas fa-download"></i> Exportar todo</a>
      </div>
    </div>
  </form>
  <div *ngIf="showTables" class="col-sm-12 white-bg">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Caja Soles ({{countSoles}})">
        <div *ngIf="loadingsoles" class="img-loading">
          <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
        </div>
        <h5 *ngIf="showSoles == false && loadingsoles == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
        <h5 *ngIf="showSoles" class="text-right mt-3 mb-3">Saldo Inicial: {{cajaSolesIni}}</h5>
        <h5 *ngIf="showSoles" class="text-right mt-3 mb-3">Saldo Final: {{cajaSolesFin}}</h5>
        <table *ngIf="showSoles"
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
        (matSortChange)="sortDataSoles($event)">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # Operación </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{ element.date  | date: 'dd/LL/yyyy'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="trip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Viaje </th>
            <td mat-cell *matCellDef="let element"> {{element.trip}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.provider}}"> {{cutText(element.provider)}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{cutText(element.description)}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="operation_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
            <td mat-cell *matCellDef="let element"> {{element.operation_type}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Caja </th>
            <td mat-cell *matCellDef="let element"> {{parseType(element.type)}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
            <td mat-cell *matCellDef="let element"> {{parseAmount(element.amount)}} </td>
            <td mat-footer-cell *matFooterCellDef> {{cajaSolesFin}} </td>
          </ng-container>

          <ng-container matColumnDef="exchange_rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Cambio </th>
            <td mat-cell *matCellDef="let element"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="cheque_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> #Cheque / Recibo </th>
            <td mat-cell *matCellDef="let element"> {{element.cheque_number}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <h5 *ngIf="showSoles" class="text-right mt-3 mb-3">Saldo Final: {{cajaSolesFin}}</h5>
      </mat-tab>

      <mat-tab label="Caja Dólares ({{countDolares}})">
        <div *ngIf="loadingdolares" class="img-loading">
          <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
        </div>
        <h5 *ngIf="showDolares == false && loadingdolares == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
        <h5 *ngIf="showDolares" class="text-right mt-3 mb-3">Saldo Inicial: {{cajaDolaresIni}}</h5>
        <h5 *ngIf="showDolares" class="text-right mt-3 mb-3">Saldo Final: {{cajaDolaresFin}}</h5>
        <table *ngIf="showDolares" mat-table
        [dataSource]="dataSourceDolares"
        matSort
        class="mat-elevation-z8"
        (matSortChange)="sortDataDolares($event)">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # Operación </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{ element.date  | date: 'dd/LL/yyyy'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="trip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Viaje </th>
            <td mat-cell *matCellDef="let element"> {{element.trip}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.provider}}"> {{cutText(element.provider)}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{cutText(element.description)}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="operation_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
            <td mat-cell *matCellDef="let element"> {{element.operation_type}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Caja </th>
            <td mat-cell *matCellDef="let element"> {{parseType(element.type)}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
            <td mat-cell *matCellDef="let element"> {{parseAmount(element.amount)}} </td>
            <td mat-footer-cell *matFooterCellDef> {{cajaDolaresFin}} </td>
          </ng-container>

          <ng-container matColumnDef="exchange_rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Cambio </th>
            <td mat-cell *matCellDef="let element"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="cheque_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> #Cheque / Recibo </th>
            <td mat-cell *matCellDef="let element"> {{element.cheque_number}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <h5 *ngIf="showDolares" class="text-right mt-3 mb-3">Saldo Final: {{cajaDolaresFin}}</h5>
      </mat-tab>

      <mat-tab label="Banco MN Cta Corriente ({{countBcoSoles}})">
          <div *ngIf="loadingbcosoles" class="img-loading">
            <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
          </div>
          <h5 *ngIf="showBancoSoles == false && loadingbcosoles == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
          <h5 *ngIf="showBancoSoles" class="text-right mt-3 mb-3">Saldo Inicial: {{cajaBancoSolesIni}}</h5>
          <h5 *ngIf="showBancoSoles" class="text-right mt-3 mb-3">Saldo Final: {{cajaBancoSolesFin}}</h5>
          <table *ngIf="showBancoSoles" mat-table 
            [dataSource]="dataSourceBancoSoles"
            matSort
            class="mat-elevation-z8"
            (matSortChange)="sortDataBcoSoles($event)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> # Operación </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{ element.date  | date: 'dd/LL/yyyy'}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="trip">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Viaje </th>
              <td mat-cell *matCellDef="let element"> {{element.trip}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="provider">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.provider}}"> {{cutText(element.provider)}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{cutText(element.description)}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="operation_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
              <td mat-cell *matCellDef="let element"> {{element.operation_type}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Caja </th>
              <td mat-cell *matCellDef="let element"> {{parseType(element.type)}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
              <td mat-cell *matCellDef="let element"> {{parseAmount(element.amount)}} </td>
              <td mat-footer-cell *matFooterCellDef> {{cajaBancoSolesFin}} </td>
            </ng-container>

            <ng-container matColumnDef="exchange_rate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Cambio </th>
              <td mat-cell *matCellDef="let element"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="cheque_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> #Cheque / Trans </th>
              <td mat-cell *matCellDef="let element"> {{element.cheque_number}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
          <h5 *ngIf="showBancoSoles" class="text-right mt-3 mb-3">Saldo Final: {{cajaBancoSolesFin}}</h5>
      </mat-tab>

      <mat-tab label="Banco ME Cta Corriente ({{countBcoDolares}})">
          <div *ngIf="loadingbcodolares" class="img-loading">
            <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
          </div>
          <h5 *ngIf="showBancoDolares == false && loadingbcodolares == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
          <h5 *ngIf="showBancoDolares" class="text-right mt-3 mb-3">Saldo Inicial: {{cajaBancoDolaresIni}}</h5>
          <h5 *ngIf="showBancoDolares" class="text-right mt-3 mb-3">Saldo Final: {{cajaBancoDolaresFin}}</h5>
          <table *ngIf="showBancoDolares" mat-table 
            [dataSource]="dataSourceBancoDolares"
            matSort class="mat-elevation-z8"
            (matSortChange)="sortDataBcoDolares($event)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> # Operación </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{ element.date  | date: 'dd/LL/yyyy'}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="trip">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Viaje </th>
              <td mat-cell *matCellDef="let element"> {{element.trip}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="provider">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.provider}}"> {{cutText(element.provider)}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{cutText(element.description)}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="operation_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operación </th>
              <td mat-cell *matCellDef="let element"> {{element.operation_type}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Caja </th>
              <td mat-cell *matCellDef="let element"> {{parseType(element.type)}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
              <td mat-cell *matCellDef="let element"> {{parseAmount(element.amount)}} </td>
              <td mat-footer-cell *matFooterCellDef> {{cajaBancoDolaresFin}} </td>
            </ng-container>


            <ng-container matColumnDef="exchange_rate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Cambio </th>
              <td mat-cell *matCellDef="let element"> {{element.exchange_rate == 'None' ? '-' : element.exchange_rate}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="cheque_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> #Cheque / Trans </th>
              <td mat-cell *matCellDef="let element"> {{element.cheque_number}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
          <h5 *ngIf="showBancoDolares" class="text-right mt-3 mb-3">Saldo Final: {{cajaBancoDolaresFin}}</h5>
      </mat-tab>
    </mat-tab-group>      
  </div>    
</div>
