<div class="row">
  <form class="col-sm-12" (submit)="generar()">
    <div class="row">
      <div class="col-sm-7 mt-3">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Proveedor</label>
          <div class="col-sm-8">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Seleccione un proveedor" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-sm-1">
            <img *ngIf="isloading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
          </div>        
        </div>
      </div>
      <div class="col-sm-4 mt-3">
        <a (click)="generar()" class="btn btn-primary generar">Generar</a>
        <a (click)="export()" class="btn btn-primary ml-1 {{activeExport}}" > <i class="fas fa-download"></i> Exportar</a>
      </div>
    </div>
  </form>
    

  <div class="col-sm-12 white-bg">
    <div *ngIf="isExporting" class="exporting">
      <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
    </div>
    <div *ngIf="isLoading" class="img-loading text-center">
      <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
    </div>
    <h5 *ngIf="showMessage" class="text-right mt-3 mb-3">No se encontraron datos</h5>
    <table *ngIf="showData" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{ element.date  | date: 'dd/LL/yyyy'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="trip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Viaje </th>
            <td mat-cell *matCellDef="let element"> {{element.trip}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let element"> {{providerName}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="operation_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Operación </th>
            <td mat-cell *matCellDef="let element"> {{element.operation_type}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Caja </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="amount_s">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Soles </th>
            <td mat-cell *matCellDef="let element"> {{ element.currency == 'S' ? element.amount : ''}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="amount_d">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dolares </th>
            <td mat-cell *matCellDef="let element"> {{ element.currency == 'D' ? element.amount : ''}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="exchange_rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Cambio </th>
            <td mat-cell *matCellDef="let element"> {{element.exchange_rate == 'None' ? '' : element.exchange_rate}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="cheque_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> #Cheque / Trans </th>
            <td mat-cell *matCellDef="let element"> {{element.cheque_number}} </td>
            <td mat-footer-cell *matFooterCellDef> Saldo: </td>
          </ng-container>

          <ng-container matColumnDef="document_number">
            <th mat-header-cell *matHeaderCellDef> Nmro Documento </th>
            <td mat-cell *matCellDef="let element"> {{element.document_number}} </td>
            <td mat-footer-cell *matFooterCellDef> {{saldo}} </td>
          </ng-container>
          

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPopup(row)"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
  </div>    
</div>