<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 mb-4">
				<a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
			</div>
			<div class="col-sm-6">
					<form novalidate class="ng-untouched ng-pristine ng-valid">
							<div class="form-group row mt-5">
								<label class="col-sm-3 col-form-label">Código</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" data-date-inline-picker="true" [(ngModel)]="code" [ngModelOptions]="{standalone: true}" placeholder="ejem: 123456">
								</div>
							</div>
							<!--<div class="form-group row">
								<label class="col-sm-3 col-form-label">Agencia</label>
								<div class="col-sm-9">
									<mat-form-field class="example-full-width">
										<input type="text" placeholder="Seleccione un proveedor" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
										<mat-autocomplete #auto2="matAutocomplete">
											<mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
											{{ option }}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<img *ngIf="isloading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
							</div>-->
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Fecha Inicio de Viaje</label>
								<div class="col-sm-9">
									<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}" [placeholder]="'Seleccione una fecha'"></my-date-picker>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Tipo de Viaje</label>
								<div class="col-sm-9">
									<select class="form-control" name="select" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
														<option value="0">Seleccione un tipo de Viaje</option>
														<option *ngFor="let typ of list_types" value="{{typ.id}}">{{typ.name}}</option>
												</select>
								</div>
							</div>
					
									<div class="form-group row">
										<div class="col-sm-3"></div>
										<div class="col-sm-9 buttons">
										</div>
										<img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" class="loading-img {{showSpin}}">
									</div>
						</form>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12 text-right">
						<button *ngIf="showbudget" (click)="addBudget()" class="btn btn-primary">Agregar Presupuesto</button>
					</div>
					<div class="col-sm-12 mt-1">
						<div class="form-group row budgets" *ngFor="let b of Budgets">
							<div class="col-sm-5"> <!-- categoria -->
								<select [disabled]="!showbudget" class="form-control" [(ngModel)]="b.category" [ngModelOptions]="{standalone: true}" (change)="filterCategories(b.category)">
										<option value="0">Seleccione una Categoria</option>
										<option *ngFor="let typ of list_categories_copy" value="{{typ.id}}" [disabled]="typ.disable">{{typ.name}}</option>
									</select>
							</div>
							<div class="col-sm-6 buttons"> <!-- monto -->
								<a class="currency" (click)=toggleCurrency(b)>{{ b.currency == 'S' ? 'S/.' : '$' }}</a>
								<input 
									class="form-control currency-input"
									type="number"
									[(ngModel)]="b.amount"
									[ngModelOptions]="{standalone: true}"
									(focusout)="montoChange(b)"
									placeholder="0.00"
									(keypress)="numberChange($event)"
									[disabled]="!showbudget">
							</div>
							<div class="col-sm-1">
								<a *ngIf="showbudget" class="deletebudget" (click)="deleteBudget(b)">
									<i class="far fa-trash-alt"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<ng2-toasty [position]="'top-right'"></ng2-toasty>