<div class="container-fluid">
  <h5>{{util_name}}</h5>
  <hr>
  <form novalidate class="ng-untouched ng-pristine ng-valid">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-5">
        <input class="form-control" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-5">
        <a class="btn btn-primary mr-2" (click)="save()">Guardar</a>
        <a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>
      </div>
    </div>
  </form>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
