.form-check-input {
	width: 20px;
	height: 20px;
	background: white;
	margin-left: 0;
}
.radio input {
  margin-right: 10px;
}
.btn {
  color: #ffffff !important;
}
.cancel {
  background: #3F729B;
}
