<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center mb-3">
      <form novalidate class="ng-untouched ng-pristine ng-valid" (submit)="filtrar()">
          <div class="form-group row">
              <label class="col-sm-1 col-form-label">Código</label>
              <div class="col-sm-4">
                  <form (submit)="searchCode()">
                      <input class="form-control code-search" type="text" [(ngModel)]="code2search" [ngModelOptions]="{standalone: true}" placeholder="ejem: 123456">
                      <button type="submit" class="btn btn-primary search-button"><i class="fas fa-search"></i></button>
                  </form>                  
              </div>

              <label class="col-sm-1 col-form-label">Filtrar</label>
              <div class="col-sm-6">
                  <select class="form-control select-filter" name="select" #filtros (change)="filtrarForm($event, filtros.value)" [(ngModel)]="filterSelect" [ngModelOptions]="{standalone: true}">
                    <option value="0">Seleccione un valor a filtrar</option>
                    <option value="1">Fecha</option>
                    <option value="2">Fecha fin de viaje</option>
                    <option value="5">Gerencia</option>
                    <option value="4">Operaciones</option>
                    <option value="6">Tipo de viaje</option>
                  </select>
                  <button type="submit" class="btn btn-primary filtrar">Filtrar</button>
              </div>

              <div class="col-sm-12 mt-3 {{fecha}}">
                <div class="row">
                  <label class="col-sm-1 col-form-label">Rango</label>
                  <div class="col-sm-5">
                    <select class="form-control" (change)="fechas()" [(ngModel)]="fechasFilter" [ngModelOptions]="{standalone: true}">
                      <option value="0">Seleccione una fecha</option>
                      <option value="1">Hoy</option>
                      <option value="2">Ayer</option>
                      <option value="3">Última Semana</option>
                      <option value="4">Último Mes</option>
                      <option value="5">Último Año</option>
                    </select>                    
                  </div>
                </div>
              </div>

              <div class="col-sm-12 mt-3 {{fecha}}">
                <div class="row">
                  <label class="col-sm-1 col-form-label">Inicio</label>
                  <div class="col-sm-5">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}" (dateChanged)="setTimeDisable($event)"></my-date-picker>
                  </div>
                  <label class="col-sm-1 col-form-label">Fin</label>
                  <div class="col-sm-5">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions2" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"></my-date-picker>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 mt-3 {{fechaFin}}">
                <div class="row">
                  <label class="col-sm-1 col-form-label">Inicio</label>
                  <div class="col-sm-5">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date3" [ngModelOptions]="{standalone: true}" (dateChanged)="setTimeDisable($event)"></my-date-picker>
                  </div>
                  <label class="col-sm-1 col-form-label">Fin</label>
                  <div class="col-sm-5">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions2" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date4" [ngModelOptions]="{standalone: true}"></my-date-picker>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 mt-3 {{operaciones}}">
                <div class="row">
                  <p class="col-sm-6 text-right">Operaciones: </p>
                  <label class="form-check-label col-sm-3">
                    <input type="radio" (change)="filtrar()" class="form-check-input" name="operaciones" [value]="1" [(ngModel)]="operacionesv" [ngModelOptions]="{standalone: true}">
                      Abierto
                  </label>
                  <label class="form-check-label col-sm-3">
                    <input type="radio" (change)="filtrar()" class="form-check-input" name="operaciones" [value]="2" [(ngModel)]="operacionesv" [ngModelOptions]="{standalone: true}">
                      Cerrado
                  </label>
                </div>
              </div>

              <div class="col-sm-12 mt-3 {{gerencia}}">
                <div class="row">
                  <p class="col-sm-6 text-right">Gerencia: </p>
                  <label class="form-check-label col-sm-3">
                    <input type="radio" (change)="filtrar()" class="form-check-input" name="gerencia" [value]="1" [(ngModel)]="gerenciav" [ngModelOptions]="{standalone: true}">
                      Abierto
                  </label>
                  <label class="form-check-label col-sm-3">
                    <input type="radio" (change)="filtrar()" class="form-check-input" name="gerencia" [value]="2" [(ngModel)]="gerenciav" [ngModelOptions]="{standalone: true}">
                      Cerrado
                  </label>
                </div>
              </div>

              <div class="col-sm-12 mt-3 {{tipoViaje}}">
                <div class="row">
                  <label class="form-check-label col-sm-6 text-right">Tipo de Viaje: </label>
                  <select (change)="filtrar()" class="form-control col-sm-5" name="select" [(ngModel)]="tripType" [ngModelOptions]="{standalone: true}">
                    <option value="0">Seleccione un Tipo de Viaje</option>
                    <option *ngFor="let typ of list_types" value="{{typ.id}}">{{typ.name}}</option>
                  </select>
                </div>
              </div>



          </div>
      </form>
    </div>
    <div class="col-sm-4 text-right mb-3">
      <a *ngIf="showadd" [routerLink]="['/viajes/add/new']" class="btn btn-primary waves-light" mdbWavesEffect>Añadir</a>
      <a *ngIf="showexport" (click)="export()" class="btn btn-primary waves-light ml-1" mdbWavesEffect> <i class="fas fa-download"></i> {{export_message}}</a>
    </div>
  </div>
</div>
<div class="container-fluid">

</div>
<div class="container-fluid registro-table">
  <div class="numrows row">
    <div class="col-sm-6">
        <label class="mr-2">Número de registros: </label>
        <select class="rows-values" (change)="setRows()" [(ngModel)]="itemspertable" [ngModelOptions]="{standalone: true}">
          <option value="20">20</option>
          <option *ngIf="items > 50" value="50">50</option>
          <option *ngIf="items > 100" value="100">100</option>
          <option value="{{ items }}">Todos</option>
        </select>
    </div>
  </div>
  <div *ngIf="isExporting" class="exporting">
    <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
  </div>
  <div *ngIf="isLoading" class="img-loading text-center">
    <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
  </div>
  <h5 *ngIf="showData == false && isLoading == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
  <table *ngIf="showData" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="selectChange($event, row)"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="planilla">
      <th mat-header-cell *matHeaderCellDef> Planillas </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/viajes/planillas/'+element.planilla+'/1']" > <a [routerLink]="['/viajes/planillas/'+element.planilla+'/1']"><i class="ti-eye icon-ver"></i></a> </td>
    </ng-container>

    <ng-container matColumnDef="resumen">
      <th mat-header-cell *matHeaderCellDef> Resumen </th>
      <td mat-cell *matCellDef="let element" (click)="resumeTrip(element)"> <a><i class="ti-eye icon-ver"></i> </a> </td>
    </ng-container>

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.fecha  | date: 'dd/LL/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="fechafin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin de Viaje </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.fechafin  | date: 'dd/LL/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="operaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Operaciones </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)">
        <span *ngIf="element.operaciones == true"><i class="fas fa-lock"></i></span>
        <span *ngIf="element.operaciones == false"><i class="fas fa-lock-open green-icon"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gerencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gerencia </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)">
        <span *ngIf="element.gerencia == true"><i class="fas fa-lock"></i></span>
        <span *ngIf="element.gerencia == false"><i class="fas fa-lock-open green-icon"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Viaje </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Calificación </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)">
        <a class="star-icon" *ngFor="let i of [1,2,3,4,5]">
          <i *ngIf="i <= element.calificacion" class="fas fa-star"></i>
          <i *ngIf="i > element.calificacion" class="far fa-star"></i>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="aux">
      <th mat-header-cell *matHeaderCellDef > </th>
      <td mat-cell *matCellDef="let element" class="operation_icons">
        <a *ngIf="showview" (click)="viewTrip(element.aux)" class="mr-1"><i class="fas fa-eye"></i></a>
        <a *ngIf="showedit" (click)="editTrip(element.aux)"><i class="far fa-edit"></i></a>
        <a *ngIf="showdelete" (click)="deleteTrip(element.aux)"><i class="far fa-trash-alt"></i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>

  <nav *ngIf="showData" aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item {{disablePrev}}">
        <a class="page-link" (click)="previusPage()" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
      </li>
      
      <li *ngIf="page - 3 > 0" class="page-item">
        <a class="page-link" (click)="changePage(page-3)">...</a>
      </li>
      <li *ngIf="page - 2 > 0" class="page-item">
        <a class="page-link" (click)="changePage(page-2)">{{page-2}}</a>
      </li>
      <li *ngIf="page - 1 > 0" class="page-item">
        <a class="page-link" (click)="changePage(page-1)">{{page-1}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" (click)="changePage(page)">{{page}}</a>
      </li>
      <li *ngIf="page + 1 <= totalpages" class="page-item">
        <a class="page-link" (click)="changePage(page+1)">{{page+1}}</a>
      </li>
      <li *ngIf="page + 2 <= totalpages" class="page-item">
        <a class="page-link" (click)="changePage(page+2)">{{page+2}}</a>
      </li>
      <li *ngIf="page + 3 <= totalpages" class="page-item">
        <a class="page-link" (click)="changePage(page+3)">...</a>
      </li>
      <li class="page-item {{disableNext}}">
        <a class="page-link" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
