<div class="container-fluid">
  <div class="row justify-content-center mt-3">
      <div class="col-sm-12">
        <h4>Lista de Cajas Cerradas</h4>
      </div>
      <div class="col-sm-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> Año </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>
            
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Caja </th>
              <td mat-cell *matCellDef="let element"> {{parseType(element.type)}} </td>
            </ng-container>

            <ng-container matColumnDef="rest">
              <th mat-header-cell *matHeaderCellDef> Saldo </th>
              <td mat-cell *matCellDef="let element"> {{element.rest}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)"></tr>
          </table>
      </div>
  </div>
  <div class="row justify-content-center mt-3">
      <div class="col-sm-12">
        <h4>Lista de Cajas Abiertas</h4>
      </div>
      <div class="col-sm-12">
          <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">
            
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> Año </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>
            
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Caja </th>
              <td mat-cell *matCellDef="let element"> {{parseType(element.type)}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Saldo </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="aux">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-primary" (click)="CloseCash(element)">Cerrar</button>
                </td>
              </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
              (click)="selection.toggle(row)"></tr>
          </table>
      </div>
  </div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>