.registro-table {
	overflow-x: overlay;
  position: relative;
  min-height: 220px;
}
.green-border-left {
	color: rgb(51, 51, 51);
	font-family: Arial, Arial;
	font-weight: 700;
	border-left: 5px solid rgb(43, 106, 11);
}

th {
	color: rgb(51, 51, 51);
	font-family: Arial, Arial;
	text-align: left !important;
	font-size: 9pt;
    font-style: normal;
    font-weight: 700;
}

td {
	color: rgb(66, 139, 202);
	text-align: left;
	font-family: Arial, Arial;
	font-size: 9pt;
	font-style: normal;
	font-weight: 400;
}

.no-display {
	display: none;
}

.icon-ver {
	font-size: 18px;
}
.page-item {
	cursor: pointer;
}

.red-icon {
	color: #CC0000;
}

.loading img {
	height: 50px;
}
.show-loading, .show-data {
	display: table-row;
}
.hide-loading, .hide-data {
	display: none;
}

.operation_icons a {
	cursor: pointer;
}

.active {
	background: #ffffff !important;
}

.filtrar {
	display: inline-block;
    height: 35px;
    cursor: pointer;
    color: #ffffff !important;
    padding-top: 7px;
    margin-top: -4px;
}
.search-button {
	display: inline-block;
    height: 35px;
    cursor: pointer;
    color: #ffffff !important;
    padding-top: 7px;
    margin-top: -4px;
}
.no-pad-left {
	padding-left: 0;
}
.select-filter {
	display: inline-block;
	width: calc(100% - 85px);
}

.code-search {
	display: inline-block;
	width: calc(100% - 65px);
}

#toasty .toast.toasty-theme-bootstrap.toasty-type-warning {
  opacity: 1 !important;
}

.green-icon {
  color: #007E33;
}

.star-icon {
  color: #ffab00 !important;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #FFFFFF !important;
}

