.registro-table {
	overflow-x: overlay;
}
.green-border-left {
	color: rgb(51, 51, 51);
	font-family: Arial, Arial;
	font-weight: 700;
	border-left: 5px solid rgb(43, 106, 11);
}

th {
	color: rgb(51, 51, 51);
	font-family: Arial, Arial;
	text-align: left;
	font-size: 9pt;
    font-style: normal;
    font-weight: 700;
}

td {
	color: rgb(66, 139, 202);
	text-align: left;
	font-family: Arial, Arial;
	font-size: 9pt;
	font-style: normal;
	font-weight: 400;
}
.functions-icons-add i{
	color: #1b5e20;
}

.functions-icons-edit i{
	color: #01579b;
}
.functions-icons-delete i {
	color: #f44336;
}

.functions-icons-add, .functions-icons-edit, .functions-icons-delete {
	font-size: 18px;
	cursor: pointer;
}