<div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-12 mb-4">
          <a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
      </div>
      <div class="col-sm-7 text-center mb-3">
        <form novalidate class="ng-untouched ng-pristine ng-valid" (submit)="filtrar()">
            <div class="form-group row">
                <div class="col-sm-12 mt-1 mb-3">
                  <div class="row">
                    <label class="col-sm-1 col-form-label">Fecha</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="fechas()" [(ngModel)]="fechasFilter" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione una fecha</option>
                        <option value="1">Hoy</option>
                        <option value="2">Ayer</option>
                        <option value="3">Última Semana</option>
                        <option value="4">Último Mes</option>
                        <option value="5">Último Año</option>
                      </select>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mt-1 mb-3">
                  <div class="row">
                    <label class="col-sm-1 col-form-label">Inicio</label>
                    <div class="col-sm-5">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}" (dateChanged)="setTimeDisable($event)"></my-date-picker>
                    </div>
                    <label class="col-sm-1 col-form-label">Fin</label>
                    <div class="col-sm-5">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions2" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"></my-date-picker>
                    </div>
                  </div>
                </div>
                <label class="col-sm-1 col-form-label">Filtrar</label>
                <div class="col-sm-6">
                    <select class="form-control select-filter" name="select" #filtros (change)="filtrarForm($event, filtros.value)" [(ngModel)]="filterSelect" [ngModelOptions]="{standalone: true}">
                      <option value="0">Seleccione un valor a filtrar</option>
                      <option value="3">Categoria</option>
                      <option value="1">Conforme</option>
                      <option value="5">Enviado</option>
                      <option value="6">Moneda</option>
                      <option value="2">Proveedores</option>
                      <option value="4">Viaje</option>
                    </select>
                    <button type="submit" class="btn btn-primary filtrar">Filtrar</button>
                </div>
  
                <div class="col-sm-9 mt-3" *ngIf="filterSelect == 2">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Proveedores</label>
                    <div class="col-sm-5">
                      <select class="form-control" (change)="filtrar()" name="select" [(ngModel)]="proveedoresv" [ngModelOptions]="{standalone: true}">
                        <option value="0">Seleccione un Proveedor</option>
                        <option *ngFor="let x of proveedores_list" value="{{x.id}}">{{x.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3" *ngIf="filterSelect == 3">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Categorias</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="select" [(ngModel)]="categoriav" [ngModelOptions]="{standalone: true}" (change)="filtrar()">
                        <option value="0">Seleccione una Categoria</option>
                        <option *ngFor="let x of categoria_list" value="{{x.id}}">{{x.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3" *ngIf="filterSelect == 4">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Viaje</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="select" [(ngModel)]="viajev" [ngModelOptions]="{standalone: true}" (change)="filtrar()">
                        <option value="0">Seleccione un Viaje</option>
                        <option *ngFor="let x of trip_list" value="{{x.id}}">{{x.code}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3" *ngIf="filterSelect == 5">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Enviado</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="select" [(ngModel)]="enviadov" [ngModelOptions]="{standalone: true}" (change)="filtrar()">
                        <option value="1">Si</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <label class="col-sm-2 col-form-label">Desde</label>
                    <div class="col-sm-8">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date3" [ngModelOptions]="{standalone: true}" (dateChanged)="setTimeDisable($event)"></my-date-picker>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Hasta</label>
                    <div class="col-sm-8">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions2" [placeholder]="'Seleccione una fecha'" [(ngModel)]="date4" [ngModelOptions]="{standalone: true}"></my-date-picker>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-9 mt-3" *ngIf="filterSelect == 1">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Conforme</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="select" [(ngModel)]="conformev" [ngModelOptions]="{standalone: true}" (change)="filtrar()">
                        <option value="1">Si</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-sm-9 mt-3" *ngIf="filterSelect == 6">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Moneda</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="select" [(ngModel)]="monedav" [ngModelOptions]="{standalone: true}" (change)="filtrar()">
                          <option value="S">Soles</option>
                          <option value="D">Dolares</option>
                        </select>
                      </div>
                    </div>
                  </div>
  
            </div>
        </form>
      </div>
      <div class="col-sm-5 text-right mb-3">
        <a *ngIf="showadd" [routerLink]="['/registro/add/new']" class="btn btn-primary waves-light" mdbWavesEffect>Añadir</a>
        <a *ngIf="showexport" (click)="export()" class="btn btn-primary waves-light ml-1" mdbWavesEffect> <i class="fas fa-download"></i> {{export_message}}</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  
  </div>
  <div class="container-fluid registro-table">
    <div *ngIf="isLoading" class="text-center">
      <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
    </div>
    <div *ngIf="isExporting" class="exporting">
        <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
    </div>
    <h5 *ngIf="showData == false && isLoading == false" class="text-center mt-3 mb-3">No se encontraron datos</h5>
    <table *ngIf="showData && isLoading == false" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle(selection, dataSource) : null"
                          [checked]="selection.hasValue() && isAllSelected(selection, dataSource)"
                          [indeterminate]="selection.hasValue() && !isAllSelected(selection, dataSource)">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="selectChange($event, row, selection)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
  
      <ng-container matColumnDef="trip">
        <th mat-header-cell *matHeaderCellDef> Viaje </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.trip}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{ element.date | date: 'dd/LL/yyyy'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)" matTooltip="{{element.category}}"> {{ cutText(element.category) }} </td>
      </ng-container>
  
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)" matTooltip="{{element.provider}}"> {{ cutText(element.provider) }} </td>
      </ng-container>
  
      <ng-container matColumnDef="document_type">
        <th mat-header-cell *matHeaderCellDef> T. Doc. </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)" matTooltip="{{element.document_type}}"> {{ cutText(element.document_type) }} </td>
      </ng-container>
  
      <ng-container matColumnDef="document_number">
        <th mat-header-cell *matHeaderCellDef> Nro. Doc. </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.document_number}} </td>
      </ng-container>

      <ng-container matColumnDef="amount_s">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Soles </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.currency == 'S' ? element.amount : '-'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="amount_d">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dolares </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.currency == 'S' ? '-' : element.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="exchange_rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> T. Cambio</th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.exchange_rate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enviado </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.send == true ? 'Si' : 'No'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="agree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Conforme </th>
        <td mat-cell *matCellDef="let element" (click)="editTrip(element.id)"> {{element.agree == true ? 'Si' : 'No'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="aux">
        <th mat-header-cell *matHeaderCellDef > </th>
        <td mat-cell *matCellDef="let element" class="operation_icons">
          <a *ngIf="showview" (click)="viewTrip(element.id)" class="mr-1"><i class="fas fa-eye"></i></a>
          <a *ngIf="showedit" (click)="editTrip(element.id)"><i class="far fa-edit"></i></a>
          <a *ngIf="showdelete" (click)="deleteTrip(element.id)"><i class="far fa-trash-alt"></i></a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
  
  
    <nav *ngIf="showData && isLoading == false" aria-label="Page navigation" class="mt-3">
      <ul class="pagination justify-content-center">
        <li class="page-item {{disablePrev}}">
          <a class="page-link" (click)="previusPage()" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li *ngFor="let i of paginator" class="page-item {{i.state}}"><a class="page-link" (click)="changePage(i.page)">{{i.page}}</a></li>
        <li class="page-item {{disableNext}}">
          <a class="page-link" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
        </li>
      </ul>
    </nav>
  </div>
  
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
  