<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-4">
          <a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
      </div>
      <div class="col-sm-6">
        <form novalidate class="ng-untouched ng-pristine ng-valid">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha</label>
            <div class="col-sm-9">
              <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}"></my-date-picker>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Viaje</label>
            <div class="col-sm-9">
                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Seleccione un viaje" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <img *ngIf="isloading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Proveedor / Guia</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Seleccione un proveedor" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
                  <mat-autocomplete #auto2="matAutocomplete" (optionSelected)='providerChange($event.option.value)'>
                    <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                        {{ option }}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="showproviderinfo && myControl2.value"></div>
            <div class="col-sm-9" *ngIf="showproviderinfo && myControl2.value">
              <p>Razon Social: {{razon_aux}} // RUC: {{ruc_aux}}</p>
            </div>
            <img *ngIf="isloading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Proveedor Servicio</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Seleccione un proveedor" aria-label="Number" matInput [formControl]="myControl3" [matAutocomplete]="auto3">
                  <mat-autocomplete #auto3="matAutocomplete" (optionSelected)='providerChange2($event.option.value)'>
                    <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option">
                        {{ option }}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="showproviderinfo2 && myControl3.value"></div>
            <div class="col-sm-9" *ngIf="showproviderinfo2 && myControl3.value">
              <p>Razon Social: {{razon_aux2}} // RUC: {{ruc_aux2}}</p>
            </div>
            <img *ngIf="isloading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Categoria</label>
            <div class="col-sm-9">
              <select class="form-control" name="select" [(ngModel)]="register.category" [ngModelOptions]="{standalone: true}">
                <option value="0">Seleccione una Categoria</option>
                <option *ngFor="let typ of list_categories" value="{{typ.id}}">{{typ.name}}</option>
              </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tipo de Documento</label>
            <div class="col-sm-9">
              <select class="form-control" name="select" [(ngModel)]="register.document_type" [ngModelOptions]="{standalone: true}" (change)="TipoDocChange()">
                        <option value="0">Seleccione un tipo de Documento</option>
                        <option *ngFor="let typ of list_tip_docs" value="{{typ.id}}">{{typ.name}}</option>
                    </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Número de Documento</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" [(ngModel)]="register.document_number" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Foto Documento</label>
            <div class="col-sm-9">
              <img *ngIf="document_photo_loading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
              <img *ngIf="showImg == true" src="{{document_photo_base64}}" draggable="false" height="80px" (click)="openImage()">
              <input class="form-control" type="file" [(ngModel)]="document_photo_file" [ngModelOptions]="{standalone: true}" (change)="onChange($event)">
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Descripción</label>
            <div class="col-sm-9">
              <textarea class="form-control" [(ngModel)]="register.description" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
  
          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Monto</label>
                <div class="col-sm-9">
                <a class="currency" (click)=toggleCurrency()>{{ register.currency == 'S' ? 'S/.' : '$' }}</a>
                <input class="form-control currency-input" type="number" [(ngModel)]="register.amount" [ngModelOptions]="{standalone: true}" (focusout)="montoChange()" placeholder="0.00" (keypress)="numberChange($event)">
              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tipo de Cambio</label>
            <div class="col-sm-9">
              <input class="form-control" type="number" [(ngModel)]="register.exchange_rate" [ngModelOptions]="{standalone: true}" (focusout)="exchangeChange()" placeholder="0.00" (keypress)="numberChange($event)">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Conforme</label>
            <div class="radio col-sm-3">
              <label>
                <input 
                  type="radio"
                  name="document_agree"
                  [value]="1"
                  [(ngModel)]="document_agree"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="!enableagree">Si</label>
            </div>
            <div class="radio col-sm-3">
              <label>
                <input
                  type="radio"
                  name="document_agree"
                  [value]="2"
                  [(ngModel)]="document_agree"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="!enableagree">No</label>
            </div>
          </div>
  
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Enviado</label>
                <div class="radio col-sm-3">
                  <label>
                    <input 
                      type="radio"
                      name="document_send"
                      [value]="1"
                      [(ngModel)]="document_send"
                      [ngModelOptions]="{standalone: true}"
                      [disabled]="!enablesend" >Si</label>
                </div>
                <div class="radio col-sm-3">
                  <label>
                    <input
                      type="radio"
                      name="document_send"
                      [value]="2"
                      [(ngModel)]="document_send"
                      [ngModelOptions]="{standalone: true}"
                      [disabled]="!enablesend">No</label>
                </div>
              </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha Enviado</label>
            <div class="col-sm-9">
              <my-date-picker name="mydate" [options]="myDatePickerOptionsSend" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"></my-date-picker>
            </div>
          </div>
          
  
  
              <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                  <a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save()">Guardar</a>
                </div>
                <div class="col-sm-4">
                  <a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>
                </div>
              </div>
        </form>
      </div>
      
    </div>
  </div>
  
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
  