<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center mb-3">
      <h5 class="text-left">Viaje: {{Trip}}</h5>
    </div>
    <div class="col-sm-4 text-right mb-3">
      <a [routerLink]="['/registro/add/new/'+id]" class="btn btn-primary waves-light" mdbWavesEffect>Añadir</a>
    </div>
  </div>
</div>
<div class="container-fluid">

</div>
<div class="container-fluid registro-table">

  <div class="example-loading-shade loading" *ngIf="isLoadingResults">
    <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false">
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="viaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Viaje </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.viaje}} </td>
    </ng-container>

    <ng-container matColumnDef="operacion">
      <th mat-header-cell *matHeaderCellDef> Operación </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.operacion}} </td>
    </ng-container>

    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.proveedor}} </td>
    </ng-container>

    <ng-container matColumnDef="tipdoc">
      <th mat-header-cell *matHeaderCellDef> Documentos </th>
      <td mat-cell *matCellDef="let element" (click)="showDocuments(element.documentos); $event.stopPropagation()"  > Ver<br>Documentos </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="debe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Debe </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.debe}} </td>
    </ng-container>

    <ng-container matColumnDef="haber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Haber </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.haber}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="enviado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Enviado </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.enviado == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="porpagar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Por pagar </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.porpagar == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="adelanto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adelanto </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.adelanto == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="porrendir">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Por rendir </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.porrendir == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="conforme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Conforme </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)"> {{element.conforme == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="aux">
      <th mat-header-cell *matHeaderCellDef > </th>
      <td mat-cell *matCellDef="let element" class="operation_icons">
        <a (click)="viewTrip(element.aux)" class="mr-1"><i class="fas fa-eye"></i></a><a (click)="editTrip(element.aux)"><i class="far fa-edit"></i></a> <a (click)="deleteTrip(element.aux)"><i class="far fa-trash-alt"></i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
  </table>

  <nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item {{disablePrev}}">
        <a class="page-link" (click)="previusPage()" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li *ngFor="let i of paginator" class="page-item {{i.state}}"><a class="page-link" (click)="changePage(i.page)">{{i.page}}</a></li>
      <li class="page-item {{disableNext}}">
        <a class="page-link" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
