<div class="container-fluid">
  <form novalidate class="ng-untouched ng-pristine ng-valid">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tipo de Reporte</label>
      <div class="col-sm-5">
        <select class="form-control" name="select" [(ngModel)]="select" [ngModelOptions]="{standalone: true}" (change)="routeChange()">
          <option value="0">Seleccione un tipo de reporte</option>
          <option *ngIf="showmov" value="1">Saldos y Movimientos</option>
          <option *ngIf="showprov" value="2">Saldo Proveedores</option>
          <option *ngIf="showadel" value="3">Adelanto a proveedores</option>
          <option *ngIf="showrendir" value="4">Cuentas por rendir</option>
          <option *ngIf="showpagar" value="5">Cuentas por pagar</option>
        </select>
      </div>
    </div>
  </form>

  <div class="row" *ngIf="select == 1">
    <div class="col-sm-12">
      <app-cuadre-caja></app-cuadre-caja>
    </div>
  </div>
  <div class="row" *ngIf="select == 2">
    <div class="col-sm-12">
      <app-report-proveedores></app-report-proveedores>      
    </div>
  </div>
  <div class="row" *ngIf="select == 3">
    <div class="col-sm-12">
      <app-report-adelantos></app-report-adelantos>
    </div>
  </div>
  <div class="row" *ngIf="select == 4">
    <div class="col-sm-12">
      <app-report-porrendir></app-report-porrendir>
    </div>
  </div>
  <div class="row" *ngIf="select == 5">
    <div class="col-sm-12">
      <app-report-porpagar></app-report-porpagar>
    </div>
  </div>
  
</div>