<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-4 text-center mb-3">
      
    </div>
    <div class="col-sm-8 text-right mb-3">
      <a class="btn btn-primary waves-light" mdbWavesEffect>Añadir</a>
    </div>
  </div>
</div>
<div class="container-fluid registro-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Viaje</th>
        <th>Operación</th>
        <th>Proveedor</th>
        <th>Tip Doc</th>
        <th>Num Doc</th>
        <th>Tipo</th>
        <th>Debe</th>
        <th>Haber</th>
        <th>Categoria</th>
        <th>Enviado</th>
        <th>Por pagar</th>
        <th>Adelanto</th>
        <th>Conforme</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>10/11/2018</td>
        <td>XXPOO1</td>
        <td>GASTO</td>
        <td>Proveedor 1</td>
        <td>Factura</td>
        <td>124587845</td>
        <td>Caja Soles</td>
        <td>100</td>
        <td>0</td>
        <td>Comida</td>
        <td>aspa xD</td>
        <td>aspa xD</td>
        <td>equis xD</td>
        <td>aspa xD</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>10/11/2018</td>
        <td>XXPOO1</td>
        <td>GASTO</td>
        <td>Proveedor 2</td>
        <td>Factura</td>
        <td>124587845</td>
        <td>Caja Soles</td>
        <td>100</td>
        <td>0</td>
        <td>Comida</td>
        <td>aspa xD</td>
        <td>aspa xD</td>
        <td>equis xD</td>
        <td>aspa xD</td>
      </tr>
    </tbody>
  </table>  
</div>
